@use './reset';
@use './variables';
@use './mixins';
@use './animations';


// RESET EXTRA
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", system-ui, sans-serif;
  background: #0f0f0f;
  color: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
