.quick-categories {
  margin-top: 20px;

  &__title {
    color: #bdbdbd;
    font-size: 14px;
    margin-bottom: 12px;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__item {
    border: 1px solid #d4af37;
    background: transparent;
    color: #d4af37;

    padding: 10px 16px;

    border-radius: 999px;

    cursor: pointer;

    transition: .2s;

    &:hover {
      background: #d4af37;
      color: #111;
    }
  }
}