@use "../styles/variables"as *;

.showcase-video {
  padding: clamp(4rem, 8vw, 6rem) 8%;
  background: $bg-dark;
}

.showcase-video__container {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;

  align-items: center;
}

/* Text */

.showcase-video__text {

  h2 {
    font-size: clamp(2rem, 4vw, 2.6rem);
    margin-bottom: 1rem;
    color: $white;
  }

  p {
    color: $text-muted;
    line-height: 1.7;
    margin-bottom: 2rem;
  }
}

/* Video */

.showcase-video__media {
  border-radius: 16px;
  overflow: hidden;
  height: 80%;

  box-shadow: 0px 0px 64px rgba(rgb(68, 0, 68), 0.1);

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
}

/* Mobile */

@media (max-width: 900px) {
  .showcase-video__container {
    grid-template-columns: 1fr;
  }

  .showcase-video__text {
    text-align: center;
  }

  .showcase-video__media {
    border-radius: 16px;
    overflow: hidden;
    height: 100%;


    video {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}